#wrapper{
    max-width: 800px;
    min-height: 500px;
    display: flex;
    margin: auto;
    margin-top: 39px;
    color: white;
}
#left_panel{
    min-height: 500px;
    background-color: #E9FFD5;
    flex: 1;
    padding: 10px; 
    text-align: center;                  
}
#right_panel{
    min-height: 400px;
    background-color: #D9FFB0;
    flex:4;
}
#header{
    background-color: #B5E61D;
    height:70px;
}
#inner_left_panel{
    background-color: #a3b372;
    min-height: 430px;
    flex:1
}
#inner_right_panel{
    background-color: rgb(87, 105, 33);
    min-height:430px;
    flex:1;
}
.fa-solid{
    color: rgb(87, 105, 33);
    border:solid 3px rgb(255, 255, 255);
    border-radius: 50%;
    height: 90px;
    width: 100px;
    font-size: 3em;
    justify-content: center;
    align-content: center;
}
i.fa-solid.fa-user{
    margin-top: 20px;
    text-align: center;
    
}
#user{
    color: #B5E61D;
}
